html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  min-height:100%; /* needed for container min-height */
}

#root {
  min-height: 100%;
  min-width: 100%;
}

.main-img-container {
  min-height: 100%;
  flex: 1;
  display: flex;
}

.main-img {
  min-width: 100%;
}

.weather-img-loading-container {
  background: yellow;
  padding: 5px;
  height: 100%;
}

.today-weather {
  display: block;
  height: 100%;
  text-align: center;
  margin: 1em;
}

.root-container {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.location-loading-screen {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: absolute;
  background: pink;
  min-height: 100%;
  min-width: 100%;
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
}

.weather-loading-screen {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: absolute;
  background: pink;
  min-height: 100%;
  min-width: 100%;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FFFE00;
}

.app-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  background: #87CEFA;
}

.weather-container {
  background: white;
  margin: 155px;
  height: 65vh;
  width: 65vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.top-row {
  border: 1px solid black;
  display: flex;
  min-height: 50%;
  height: 50%;
}

.left-column {
  border: 1px solid black;
  flex: 1;
  display: flex;
}

.right-column {
  border: 1px solid black;
  flex: 1;
}

.five-day-forecast {
  display: flex;
  flex: 1;
}

.five-day-container {
  width: 100%;
}

.page-container {
  background: pink;
}
