html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  min-height:100%; /* needed for container min-height */
}

#root {
  min-height: 100%;
  min-width: 100%;
}

.root-container {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.loading-screen {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: absolute;
  background: pink;
  min-height: 100%;
  min-width: 100%;
}

.app-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  background: #87CEFA;
}

.weather-container {
  background: white;
  margin: 155px;
  height: 65vh;
  width: 65vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.top-row {
  border: 1px solid black;
  display: flex;
  min-height: 50%;
  height: 50%;
}

.left-column {
  border: 1px solid black;
  flex: 1;
}

.right-column {
  border: 1px solid black;
  flex: 1;
}

.five-day-forecast {
  display: flex;
  flex: 1;
}

.page-container {
  background: pink;
}
