html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100%;
  min-width: 100%;
}

.hi-low {
  display: inline-block;
}

.main-img-container {
  min-height: 100%;
  flex: 1;
  display: flex;
}

.main-img {
  min-width: 100%;
}

.forecast-img {
  min-width: 50%;
}

.weather-img-loading-container {
  background: yellow;
  padding: 5px;
  height: 100%;
}

.today-weather {
  display: block;
  height: 100%;
  text-align: center;
  margin: 1em;
}

.root-container {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.location-loading-screen,
.weather-loading-screen {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: absolute;
  background: pink;
  min-height: 100%;
  min-width: 100%;
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
}

.app-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  background: #87cefa;
  position: absolute;
}

.weather-container {
  background: white;
  margin: 155px;
  height: 55vh;
  max-height: 55vh;
  width: 40vw;
  max-width: 40vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.top-row {
  border: 1px solid black;
  display: flex;
  min-height: 70%;
  height: 70%;
}

.left-column {
  border: 1px solid black;
  flex: 1;
  display: flex;
}

.right-column {
  border: 1px solid black;
  flex: 1;
}

.five-day-forecast {
  display: flex;
  flex: 1;
}

.five-day-container {
  width: 100%;
  display: flex;
}

.page-container {
  background: pink;
}

.forecast {
  flex: 5;
  border: 1px solid black;
  text-align: center;
}
